// weui_nav
$weui_nav-width: 50px;
$weui_nav-bg-color: #f8f8f8;
$nav_active_color: #09bb07;
// weui_nav-icon
$weui_nav-icon-width: 32px;
$weui_nav-icon-height: 23px;
$zIndex-sm: 10;

$globalTextColor: #ccc;