@charset "utf-8";
// variables
@import
    "./base/_vars",
    "./base/_mixins";

$search-color: #8ac0af;
.search {
	padding: 30px / $ppr 0;
	form {
		@include box();
	}
	@at-root #{&}_input {
		margin-right: 20px / $ppr;
		padding: 5px / $ppr 0;
		height: 60px / $ppr;
		border: 4px solid $search-color;
		border-radius: 8px;
		@include box-flex(8);
		display: block;
	}
	@at-root #{&}_submit {
		padding: 0 30px / $ppr;
		border: none;
		height: 60px / $ppr;
		background-color: $search-color;
		@include box-flex(2);
		color: #fff;
		border-radius: 8px;
	}
}