$ppr: 750px/16/1rem;

$weuiCellBg:#FFFFFF;
$weuiCellBorderColor:#D9D9D9;
$weuiCellGapV: 20px / $ppr;
$weuiCellGapV-lg:9px;
$weuiCellGapH: 30px / $ppr;
$weuiCellInnerGapH:.35em;

$weuiCellHeight: 44px;
$weuiCellFontSize: 32px / $ppr;
$weuiCellTipsFontSize: 32px / $ppr;

$weuiCellLineHeight: 44px / $ppr; // 高度为44px，减去上下padding的行高
$weuiCellsMarginTop: 20 / ($weuiCellFontSize / ($weuiCellFontSize * 0 + 1)) + em;

// thumb width 
$thumbWidth-default: 50px;