.welcome header .register-button {
    background-color: transparent;
    color: #fff;
    font-size: .9em;
    padding-right: 0
}


.welcome header .login-button {
    padding: 0;
    margin: 0;
    background-color: transparent;
    color: #fff;
    font-size: .9em
}


.welcome header .action-input {
    padding: 1em .75em
}

.main-center {
  float: left;
  padding-left: 1.4em;
  padding-top: 1em;
  width: 860px;
  overflow: hidden;
  text-align: center;
} 
    
.video {    
  @at-root {    
    #{&}-box {    
      display: flex;    
      flex-direction: row;
      flex-wrap: wrap;
      margin-right: -20px;
      text-align: left;
    }
    #{&}__item {
      margin-right: 20px;
      margin-bottom: 20px;
      padding: 2px;
      flex: 0 0 31%;
      & > .hd {
        position: relative;
        & > img {
          display: block;
          width: 100%;
          height: 150px;
        }
        & > i {
          position: absolute;
          right: 5px;
          bottom: 5px;
          color: #fff;
          font-style: normal;
          background-color: rgba(0, 0, 0, .8);
          padding: 2px 4px;
          font-size: 12px;
          border-radius: 2px;
        }
      }
      & > .bd {
        h3 {
          margin: 0;
          padding-top: 12px;
          font-size: 14px;
          line-height: 22px; 
          color: #64696f;
        }
        .avatar {
          $size: 16px;
          line-height: $size;
          font-size: 12px;
          color: #a4a9ac;
          & > img {
            margin-right: 5px;
            width: $size;
            height: $size;
            border-radius: 50%;
            vertical-align: top;
          }
        }
      }
    }
  }
}

.btns {
  display: inline-block;
  padding: 10px;
  margin: 20px;
  & > i {
    display: inline-block;
    padding: 0 10px;
    line-height: 28px;
    color: #b1b2b2;
    font-style: normal;
    font-size: 14px;
    cursor: pointer;
    &.link {
      margin: 0;
      padding: 0 10px;
      vertical-align: middle;
      height: 2px;
      background: #181212;
    }
    &.disabled {
      border: 1px solid #222;
      color: #222;
    }
    &.current {

      border: 1px solid #992c2c;
    }
    &:last-child {
      position: relative;
      margin-left: 0;
    }
  }

  i + i {
    margin-left: 5px;
  }
}

.tag {
  @at-root {
    #{&}-box {
      padding-top: 10px;
      margin: 0 auto;
      width: 100%;
    }
    #{&}__item {
      position: relative;
      margin-bottom: 10px;
      float: left;
      padding: 5px 10px;
      width: 25%;
      color: #cdcdcd;
      border: 1px solid #992c2c;
      & > img {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
      }
    }
  }
}

.top-wrapper {
  text-align: left;
  .userinfo {
    line-height: 16px;
    font-size: 12px;
    color: #a4a9ac;
    img {
      margin-right: 5px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      vertical-align: top;
    }
  }
}

.banner {
  @at-root {
    #{&}__item {
      margin-bottom: 15px;
      img {
        display: block;
        margin: 0 auto;
        width: 100%;
        height: auto;
      }
    }
  }
}
@media (max-width: 810px) {
  .main-center {
    padding-left: 0;
    width: 100%;
  }
  .video {
    @at-root {
      #{&}-box {
        margin-right: 0;
        display: flex;
        flex-wrap: wrap;
        padding: 0 10px;
      }
      #{&}__item {
        flex: 0 0 50%;
        margin-right: 0;
        padding: 0 10px;
        .hd {
          img {
            height: 250px;
          }
        }
      }
    }
  }
}
@media (max-width: 600px) {
  .video {
    @at-root {
      #{&}-box {
        margin-right: 0;
        display: block;
      }
      #{&}__item {
        margin: 0 10px 20px;
        .hd {
          img {
            height: 250px;
          }
        }
      }
    }
  }
  .tag-box {
    margin: 0 5%;
    width: 90%;
  }
  .btns {
    margin: 10px 5%;
    & > i {

      &:last-child {
        &:after {
          width: 30%;
        }
        padding-left: 10%;
      }
    }
  }
  .banner {
    @at-root {
      #{&}__item {
        padding: 0 10px;
        img {
          width: 100%;
        }
      }
    }
  }
}
