
main {
	padding-top: 4em;
	padding-bottom: 3em;
	background-color: #f4f5f5;
}
.welcome-center {
  width: 37.5em;
  min-height: 366px;
  margin-left: 9.7em;
  padding-top: 1em;
}

.entry-box {
  width: 100%;
  border-radius: 2px;
  background-color: #fff;
  margin-bottom: 1em;
}
.box-title {
	padding: 0 1.4em;
	height: 3em;
	line-height: 3em;
	color: #666;
	border-bottom: 1px solid #f1f1f1;
	font-size: .9em
}

.entries {
	padding: 1.4em
}

.entry {
	margin-bottom: .15em;
	cursor: pointer
}

.entry:hover {
	background-color: #f8f9fa
}

.entry:hover .entry-title {
	color: #007fff
}

.entry:hover .entry-meta-more {
	opacity: 1
}

.entry-screenshot-image {
	width: 3.75em;
	height: 3.75em;
	border-radius: 2px;
	margin-top: .3em
}

.entry-info {
	width: 75%;
	padding: .5em 0 .5em 1.4em
}

.entry-title {
	font-weight: 600;
	line-height: 1.5em
}

.entry-title:hover {
	color: #007fff
}

.entry-meta {
	margin-top: .2em;
	font-size: .8em
}

.entry-meta .action {
	display: inline-block;
	margin-right: .5em;
	color: #909090
}

.entry-meta .collection-action {
	color: #000;
	margin-right: 1em
}

.entry-meta .entry-meta-more {
	margin-left: 1em;
	opacity: 0;
	-webkit-transition: opacity .3s;
	transition: opacity .3s
}

.entry-meta .dropdown-list {
	top: 1.5em
}

.entry-meta .dropdown-list li {
	min-width: 8em;
	padding: .5em 1em
}

.icon-heart {
	font-size: 1.2em;
	position: relative;
	top: .1em
}

.register-entry-box {
	padding: .5em
}

.register-box {
	border: 1px solid rgba(0,127,255,.3);
	padding: .5em
}

.register-box-title {
	font-size: 1em;
	font-weight: 700;
	line-height: 7.5em;
	position: relative;
	left: 1.5em
}

.register-box-ul {
	padding-left: 40px;
	margin-top: 1em;
	margin-right: 1em;
	margin-left: 1em;
}

.register-box-li {
	font-size: .8em;
	line-height: 1.8em;
	list-style: none
}

.register-box-button {
	margin: 3.5em 1em 0 0;
	font-size: .8em
}

.register-box-button:hover {
	background-color: #007fff;
	border: none;
	color: #fff
}

.welcome-right-aside {
	position: absolute;
	top: 1em;
	right: 0;
	display: inline-block;
	width: 14.4em;
	margin: 0 0 0 1em
}

.section {
	width: 100%;
	background-color: #fff;
	margin-bottom: 1em;
	border-radius: 2px
}

.section.bg-section {
	padding: 0;
	background-color: transparent;
	margin-bottom: .7em
}

.section .button {
	margin-bottom: .5em;
	border-radius: 3px;
	box-shadow: inset 0 -.2em 0 0 rgba(0,0,0,.05);
	font-size: .8em;
	text-align: left;
	padding: .8em .8em .8em 2em
}

.section .button.email-phone-button {
	text-align: center;
	padding: .8em
}

.section .button:hover {
	opacity: .8
}

.section .button:active {
	box-shadow: none;
	-webkit-transform: translateY(.1em);
	transform: translateY(.1em)
}

.fixed {
	position: fixed;
	width: 14.4em
}

.section-title {
	border-bottom: 1px solid #f1f1f1;
	height: 3em;
	line-height: 3em;
	padding-left: 1em;
	font-size: .9em
}

.section-content {
	padding: 1em
}

.section-content.tag-section-content {
	padding-bottom: .3em
}
.company-text {
    font-size: .8em;
    line-height: 1.5em;
    margin-top: 1.6em;
    margin-bottom: 0;
    color: hsla(0,0%,40%,.5)
}

.company-img {
    width: 10.6em;
    display: block;
    margin: auto
}

.tag-block {
    float: left;
    width: 50%;
    margin-bottom: .8em
}

.tag-block .tag {
    border-radius: 3em;
    background-color: #f4f6f3;
    color: #454645;
    padding: .2em .8em;
    cursor: pointer;
    border: none;
    -webkit-transition: color .1s,border-color .1s,background-color .1s;
    transition: color .1s,border-color .1s,background-color .1s
}

.tag-block .tag .icon-plus {
    color: #37c700
}

.tag-block .tag:hover {
    background-color: #37c700;
    color: #fff
}

.tag-block .tag:hover .icon-plus {
    color: #fff
}

.dropdown {
    position: relative
}

.dropdown i {
    display: inline-block;
    width: 1em;
    text-align: center
}

.dropdown.open .dropdown-active {
    color: #007fff
}

.dropdown.dropdown-hover:hover .dropdown-list,.dropdown.open .dropdown-list {
    display: block
}

.dropdown-list {
    position: absolute;
    z-index: 10;
    top: 2em;
    left: 0;
    display: none;
    color: #666;
    border: 1px solid #ddd;
    background: #fff
}

.dropdown-list li {
    padding: .8em 2em;
    white-space: nowrap
}

.dropdown-list li:hover {
    color: #333;
    background-color: #f1f1f1;
    -webkit-transition: background .3s,color .3s;
    transition: background .3s,color .3s
}

.dropdown-list li:hover a,.dropdown-list li:hover a:active,.dropdown-list li:hover a:hover {
    color: #333
}

.dropdown-list li a {
    color: #666
}

.dropdown-list li.hr {
    padding: 0;
    height: 1px;
    background-color: #ddd
}

.dropdown-list li.hr:first-child,.dropdown-list li.hr:last-child {
    display: none
}

