.welcome header .register-button {
    background-color: transparent;
    color: #fff;
    font-size: .9em;
    padding-right: 0
}


.welcome header .login-button {
    padding: 0;
    margin: 0;
    background-color: transparent;
    color: #fff;
    font-size: .9em
}


.welcome header .action-input {
    padding: 1em .75em
}

.video {
  @at-root {
    #{&}-box {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-right: -20px;
      background-color: #fff;
      text-align: left;
    }
    #{&}__item {
      margin-right: 20px;
      margin-bottom: 10px;
      padding: 2px;
      flex: 0 0 31%;
      & > .hd {
        & > img {
          display: block;
          width: 100%;
          height: 150px;
        }
      }
      & > .bd {
        h3 {
          margin: 0;
          padding: 10px 5px 0;
          font-size: 14px;
        }
        .avatar {
          $size: 24px;
          line-height: $size;
          font-size: 12px;
          color: #999;
          & > img {
            margin-right: 5px;
            width: $size;
            height: $size;
            border-radius: 50%;
            vertical-align: middle;
          }
        }
      }
    }
  }
}

.btns {
  display: inline-block;
  padding: 2px;
  margin: 20px;
  background-color: #fff;
  & > i {
    display: inline-block;
    padding: 2px 5px;
    line-height: 20px;
    background: #999;
    color: #000;
    font-style: normal;
    font-size: 15px;
  }

  i + i {
    margin-left: 5px;
  }
}