.header { background-color: #009900; position: fixed; top: 0; z-index: 999999; }

.top { height: 50px; line-height: 50px; color: #fff; }

.company, .sign-out { float: left; height: inherit; line-height: inherit; }

.company > * { float: left; display: block; height: inherit; line-height: inherit; }

.logo { width: 40px; height: inherit; text-align: center; vertical-align: middle; position: relative; font-size: 0; }
.logo img { vertical-align: middle; width: 29px; height: auto; }

.companyName { font-size: 18px; }

.companyName:hover { color: #fff; opacity: 1; }

.companyCode { line-height: 55px; cursor: pointer; }
.companyCode i { vertical-align: middle; font-size: 0; margin: 0 5px; }
.companyCode i img { vertical-align: middle; margin-bottom: 5px; }

.companyCode.active { color: #ffea00; }

.sign-out { float: right; }
.sign-out .out { color: #c1d7ff; margin-right: 15px; }

.content { margin-top: 80px; }

.nav-show { background-color: #fff; height: 30px; border-bottom: 1px solid #ccc; }
.nav-show .nav-ul { float: left; }
.nav-show .nav-li { float: left; padding: 0 10px; text-align: center; cursor: pointer; color: #000; font-size: 14px; }
.nav-show .nav-li a { padding: 0 10px; height: 30px; line-height: 28px; display: inline-block; }
.nav-show .active a { border-bottom: 2px solid #009900; }
.nav-show .nav-add { display: block; float: left; width: 20px; height: 30px; background: url(../img/add.png) center no-repeat; cursor: pointer; margin-left: 20px; }

.main { padding-top: 10px; }

.workbench { background-color: #fff; }
.workbench .work-table { width: 100%; }
.workbench .work-table .work-td { border: 10px solid #f0f2f4; border-bottom: 1px solid #e5e5e5; border-top: 0; vertical-align: top; min-width: 210px; }
.workbench .work-table .work-td .work-td-border { width: 100%; border: 1px solid #e5e5e5; border-bottom: 0; min-height: 675px; padding-bottom: 100px; }

.user-info { border-bottom: 1px solid #ebeced; padding: 10px 6px 10px 10px; overflow: hidden; }
.user-info .head-image { float: left; height: 60px; width: 60px; cursor: pointer; border-radius: 100%; }
.user-info .user-detail { width: 100px; float: left; margin-left: 20px; margin-top: 6px; color: #666; font-size: 12px; }
.user-info .user-detail a { color: #000; font-size: 14px; font-weight: bold; cursor: pointer; display: block; white-space: nowrap; word-break: keep-all; overflow: hidden; text-overflow: ellipsis; }
.user-info .user-detail .user-job { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; padding-top: 15px; }

.work-nav .work-nav-ul .work-nav-li { height: 24px; line-height: 24px; padding: 0 10px; margin: 5px 0; cursor: pointer; }
.work-nav .work-nav-ul .work-nav-li a{ display: block; width: 100%; height: 100%; line-height: inherit; }
.work-nav .work-nav-ul .work-nav-li i { float: right; line-height: inherit; display: none; }
.work-nav .work-nav-ul .work-nav-li.active { background: #f0f2f4; }
.work-nav .work-nav-ul .work-nav-li.active i { display: block; }

.work-title { font-size: 12px; font-weight: bold; }
.work-title i { font-weight: normal; }

.work-main-title { height: 35px; line-height: 35px; overflow: hidden; width: 100%; padding: 0 20px; position: relative; border-bottom: 1px solid #e5e5e5; }
.work-main-title * { line-height: 35px; height: inherit; }
.work-main-title .work-title { color: #4c89f9; }
.work-main-title .right { position: relative; width: 105px; }
.work-main-title .work-select { position: absolute; right: 0; top: 0; width: 180px; border: none; appearance: none; -moz-appearance: none; -webkit-appearance: none; background: url(../img/selIcon.png) right center no-repeat; padding-left: 70px; color: #4c89f9; }
.work-main-title .work-select option { color: #808080; }
.work-main-title .work-select option:hover { background: none; color: #4c89f9; }

select::-ms-expand { display: none; }

.work-selIcon { display: inline-block; width: 45px; height: inherit; background: url(../img/selIcon.png) right center no-repeat; position: absolute; right: 0; }

.work-main-table { padding: 0 20px; }
.work-main-table .work-main-table-top { height: 30px; margin-bottom: 10px; }
.work-main-table tr { border-bottom: 1px solid #e5e5e5; }
.work-main-table td { padding: 5px 0 10px 0; }
.work-main-table .work-main-black { color: black; }
.work-main-table .work-main-small { color: #808080; }
.work-main-table .work-main-red { color: #e56161; }
.work-main-table .work-main-guree { color: #4cb781; }
.work-main-table .work-main-yellow { color: #fdc745; }
.work-main-table .work-main-blue { color: #4c89f9; text-align: center; }
.work-main-table .work-main-blue .downIcon { font-size: 0; vertical-align: bottom; display: inline-block; }

.new-order-header { text-align: center; width: 100%; overflow: hidden; margin: 40px 0; }
.new-order-header div { display: inline-block; width: 221px; height: 24px; line-height: 24px; text-align: center; background: url(../img/order.png) center no-repeat; color: #808080; cursor: default; }
.new-order-header div.active { color: #fff; }
.new-order-header .new-header-left { background-position: 0 0; }
.new-order-header .new-header-left.active { background-position: 0 -24px; }
.new-order-header .new-header-center { background-position: -221px 0; }
.new-order-header .new-header-center.active { background-position: -221px -24px; }
.new-order-header .new-header-right { background-position: -442px 0; }
.new-order-header .new-header-right.active { background-position: -442px -24px; }


.admin{ margin-top: 20px;}
.admin .admin-block{ overflow: hidden;}
.admin .admin-block label{ float: left; width: 190px; text-align: right;letter-spacing:2px; line-height: 24px;}
.admin .admin-block .admin-text{ float: left; position: relative; width: 400px; line-height: 24px; margin-bottom: 20px; margin-left: 10px}
.admin .admin-block .admin-text input,
.admin .admin-block .admin-text select{ width: 400px; border: 1px solid #e5e5e5; height: 24px; line-height: 24px; padding: 0 5px;}
.admin .admin-block img{ width: 200px; height: 110px;}

.admin .admin-time{ text-align: center;}
.admin .admin-time .admin-text input{ width: 190px; float: left;}
.admin .admin-time .admin-text i{}

.admin .admin-block .admin-file{ position: absolute; left: 230px; top: 40px; width: 60px; height: 30px;}
.admin .admin-block .admin-file span{ cursor: pointer; display: block; width: inherit; height: inherit; border: 1px solid #ccc; background: #e5e5e5; line-height: 28px; text-align: center; color: #000;}
.admin .admin-block .admin-file input{ width: inherit; height: inherit; position: absolute; left: 0; top: 0; z-index: 1; opacity: 0}

.admin .admin-submit{ text-align: center; width: 550px;}
.admin .admin-submit input{ margin: 0 5px; cursor: pointer; width: 50px; height: 20px; line-height: 18px; text-align: center; color: #fff; border: 1px solid #327cc5;  background-color: #318ede;}
.admin .admin-submit input.active{ color: #6a656a; border-color: #ccc; background-color: #e5e5e5;}


.input-200{ width: 200px !important; display: block; margin: 10px 0;}

input[type=radio],
input[type=checkbox]{ margin-bottom: 10px; margin-right: 15px}


/*list*/
.list{ margin-top: 20px;}
.list-head{}
.list-head a{margin: 0 3px; color: #000; display: inline-block; padding: 0 15px 0 20px; border: 1px solid #ccc; background: #e5e5e5 url(../img/add.png) 4px center no-repeat; height: 30px; line-height: 28px; text-align: center; }
.list-head a.not-add{ background-image: none;}
.list-head span{}

.list-tab{ margin-top: 20px;}
.list-tab table{ border-top: 1px solid #ccc; border-left: 1px solid #ccc; width: 100% ;}
.list-tab table tr:nth-of-type(1){ background-color: #e5e5e5;}
.list-tab table td{ border-right: 1px solid #ccc; border-bottom: 1px solid #ccc; padding: 5px 10px;}
.list-tab table td img{ width: 70px; height: 40px}

.list-btn a{ color: #000; display: inline-block; padding: 0 15px 0 20px; border: 1px solid #ccc; background-color: #e5e5e5 ; height: 30px; line-height: 28px; text-align: center; }
.list-btn a.black{ background-color: #4b494c; color: #fff}
.list-btn a.guree{ background-color: #44b540; color: #fff}

/*admin*/
.admin{}
.admin .list-head a{ padding: 0 20px; background-image: none;}
.admin .list-head input{ width: 230px; height: 30px; border: 1px solid #e5e5e5; padding: 0 5px;}
.admin .list-head select{ width: 100px; height: 30px; border: 1px solid #e5e5e5; padding: 0 5px;}
.admin .list-head input[type=checkbox]{ margin-right: 5px;}

.list-font{ padding-left: 10px; margin-top: 10px;}
.list-font span{ padding: 0 10px}
.list-font a{margin: 0 3px; color: #000; display: inline-block; padding: 0 20px; border: 1px solid #ccc; background: #e5e5e5 ; height: 20px; line-height: 18px; text-align: center; }

.admin .list-tab img{ height: 40px; width: auto;}
.admin .list-tab .admin-check img{ width: 23px; height: auto;}




