
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}
a {
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
	&:active {
		color: inherit;
	}
}
input:focus {
	outline: none;
}
i {
	font-style: normal;
}

li {
	list-style: none;
}
table {
	border-spacing: 0;
}
