li,ul{ list-style-type: none; padding: 0; margin: 0;}
i{ font-style: normal;}
body{ background-color: #fafafa;}
.navbar-right{
	color: #fff;
}
.navbar-right span{
	display: inline-block;
	text-align: center;
	width: 120px;
	height: 30px;
	line-height: 30px;
	margin-top: 10px;
	float: left;
}
.new-campaign{
	background-color: #5281eb;
}
.username{
	width: 120px;
	height: 50px;
	float: left;
	font-size: 18px;
	background: none;
	border: none;
	text-align: center;
	outline: none;
	padding-left: 10px;
	margin-left: 20px;
}
.username option{ color: #000;}

.content{ margin-top: 50px;}
.content ul{
	display: flex;
	display: -weblit-flex;
	flex-wrap: wrap;
	width: 100%;
	margin-top: 20px;
}
.content li{
	width: 20%;
	padding: 0 5px;
	margin-bottom: 35px;
}
.content-title{
	color: #fff;
	height: 30px;
	line-height: 30px;
	padding-left: 20px;
	background-color: #5781e5;
}
.content-main{
	height: 60px;
	line-height: 60px;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	background-color: #e5e5e5;
}
.content-gruee{ color: #19af56;}
.content-main i{
	vertical-align: top;
    font-size: 14px;
    padding: 0 5px;
    color: #cacaca;
    display: inline-block;
    line-height: 50px;
}

.hero-title{
	text-align: center;
}











/* 小屏幕（平板，小于等于 768px） */
@media (max-width: 768px) {
	.navbar-right{ display: none;}
	.hero{ display: none;}
	.content li{ width: 100%; margin-bottom: 10px;}
}

/* 中等屏幕（桌面显示器，小于等于 992px） */
@media (max-width: 992px) {

}