@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);
@import url(https://fonts.googleapis.com/css?family=Karla:400,700);
@import url(https://fonts.googleapis.com/css?family=Rancho);
body {
  background: #ebeff2;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding-bottom: 60px;
  overflow-x: hidden;
  color: #797979; }

html {
  position: relative;
  min-height: 100%;
  background: #ebeff2; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #505458;
  font-family: 'Karla', sans-serif;
  margin: 10px 0; }

h1 {
  line-height: 43px; }

h2 {
  line-height: 35px; }

h3 {
  line-height: 30px; }

h3 small {
  color: #444444; }

h4 {
  line-height: 22px; }

h4 small {
  color: #444444; }

h5 {
  font-size: 15px; }

h5 small {
  color: #444444; }

p {
  line-height: 1.6; }

* {
  outline: none !important; }

b {
  font-weight: 600; }

a:hover {
  outline: 0;
  text-decoration: none; }

a:active {
  outline: 0;
  text-decoration: none; }

a:focus {
  outline: 0;
  text-decoration: none; }

.container {
  width: auto; }

.container-alt {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }

.m-0 {
  margin: 0px !important; }

.m-r-5 {
  margin-right: 5px !important; }

.m-r-10 {
  margin-right: 10px !important; }

.m-r-15 {
  margin-right: 15px !important; }

.m-l-5 {
  margin-left: 5px !important; }

.m-l-10 {
  margin-left: 10px !important; }

.m-l-15 {
  margin-left: 15px !important; }

.m-t-5 {
  margin-top: 5px !important; }

.m-t-0 {
  margin-top: 0px !important; }

.m-t-10 {
  margin-top: 10px !important; }

.m-t-15 {
  margin-top: 15px !important; }

.m-t-20 {
  margin-top: 20px !important; }

.m-t-30 {
  margin-top: 30px !important; }

.m-t-40 {
  margin-top: 40px !important; }

.m-b-0 {
  margin-bottom: 0px !important; }

.m-b-5 {
  margin-bottom: 5px !important; }

.m-b-10 {
  margin-bottom: 10px !important; }

.m-b-15 {
  margin-bottom: 15px !important; }

.m-b-20 {
  margin-bottom: 20px !important; }

.m-b-25 {
  margin-bottom: 25px !important; }

.m-b-30 {
  margin-bottom: 30px !important; }

.w-xs {
  min-width: 80px; }

.w-sm {
  min-width: 95px; }

.w-md {
  min-width: 110px; }

.w-lg {
  min-width: 140px; }

.m-h-40 {
  min-height: 40px; }

.m-h-50 {
  min-height: 50px; }

.l-h-34 {
  line-height: 34px; }

.font-600 {
  font-weight: 600; }

.font-bold {
  font-weight: 700; }

.font-normal {
  font-weight: normal; }

.font-light {
  font-weight: 300; }

.font-13 {
  font-size: 13px !important; }

.wrapper-md {
  padding: 20px; }

.pull-in {
  margin-left: -20px;
  margin-right: -20px; }

.b-0 {
  border: none !important; }

.vertical-middle {
  vertical-align: middle; }

.bx-shadow {
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1); }

.bx-shadow-none {
  box-shadow: none !important; }

.mx-box {
  max-height: 380px;
  min-height: 380px; }

.card-box {
  padding: 20px;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  background-clip: padding-box;
  margin-bottom: 20px; }

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  padding-left: 10px;
  padding-right: 10px; }

.text-custom {
  color: #71b6f9 !important; }

.text-white {
  color: #ffffff !important; }

.text-danger {
  color: #ff5b5b !important; }

.text-muted {
  color: #98a6ad !important; }

.text-primary {
  color: #188ae2 !important; }

.text-warning {
  color: #f9c851 !important; }

.text-success {
  color: #10c469 !important; }

.text-info {
  color: #35b8e0 !important; }

.text-inverse {
  color: #3b3e47 !important; }

.text-pink {
  color: #ff8acc !important; }

.text-purple {
  color: #5b69bc !important; }

.text-dark {
  color: #797979 !important; }

/* Form components */
textarea.form-control {
  min-height: 90px; }

.form-control {
  color: #fff;
  height: 38px;
  max-width: 100%;
  padding: 7px 12px;
  border-radius: 6px;
  background: rgba(45, 45, 45, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.15);
  -webkit-box-shadow: 0 0 1px 0 rgba(96, 143, 191, 0.8) inset;
  -moz-box-shadow: 0 0 1px 0 rgba(96, 143, 191, 0.8) inset;
  box-shadow: 0 0 1px 0 rgba(96, 143, 191, 0.8) inset;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear; }

.form-control:focus {
  border: 1px solid #AAAAAA;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0 !important; }

.form-horizontal .form-group {
  margin-left: -10px;
  margin-right: -10px; }

/********/
.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  will-change: opacity, transform;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

@media print {
  .page-title-box,
  .topbar-left,
  .hidden-print,
  .breadcrumb,
  .page-title,
  .footer,
  #topnav,
  .btn-custom {
    display: none;
    margin: 0px;
    padding: 0px; }
  .left,
  .right-bar {
    display: none; }
  .wrapper {
    margin-top: 0px !important;
    padding-top: 0px; }
  .content-page {
    margin-left: 0px;
    margin-top: 0px; } }

.checkbox {
  padding-left: 20px; }

.checkbox label {
  display: inline-block;
  padding-left: 5px;
  position: relative; }

.checkbox label::before {
  -o-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  background-color: #ffffff;
  border-radius: 2px;
  border: 1px solid #cccccc;
  content: "";
  display: inline-block;
  height: 17px;
  left: 0;
  margin-left: -20px;
  position: absolute;
  transition: 0.3s ease-in-out;
  width: 17px;
  outline: none !important; }

.checkbox label::after {
  color: #555555;
  display: inline-block;
  font-size: 11px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  position: absolute;
  top: 0;
  width: 17px; }

.checkbox input[type="checkbox"] {
  cursor: pointer;
  opacity: 0;
  z-index: 1;
  outline: none !important; }

.checkbox input[type="checkbox"]:disabled + label {
  opacity: 0.65; }

.checkbox input[type="checkbox"]:focus + label::before {
  outline-offset: -2px;
  outline: none; }

.checkbox input[type="checkbox"]:checked + label::after {
  content: "";
  background: url(../images/check.png) center no-repeat; }

.checkbox input[type="checkbox"]:disabled + label::before {
  background-color: #eeeeee;
  cursor: not-allowed; }

.checkbox-custom input[type="checkbox"]:checked + label::after {
  color: #ffffff; }

.btn-bordred {
  border-bottom: 3px solid transparent;
  color: #fff; }

.btn-bordred.btn-custom {
  background-color: #4c89f9; }

.btn-bordred.btn-custom:hover {
  color: #fff;
  background: rgba(76, 137, 249, 0.8); }

.account-pages {
  background: #000;
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover; }

.wrapper-page {
  margin: 0 auto 5%;
  padding-top: 5%;
  position: relative;
  width: 420px; }

.wrapper-page .card-box {
  box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02); }

.wrapper-page .logo {
  font-size: 42px;
  float: none;
  color: #188ae2 !important; }

.row {
  margin-right: -10px;
  margin-left: -10px; }

@media (max-width: 767px) {
  .wrapper-page {
    width: 90%; } }
