@charset "UTF-8";
.btn-link {
  background-color: transparent;
  color: #80cac6;
  font-weight: normal;
}

.btn-link:after {
  display: none;
}

.btn-link:visited {
  color: #80cac6;
}

.btn-link:hover, .btn-link:focus, .btn-link:active, .btn-link.active {
  text-decoration: underline;
  background-color: transparent;
  color: #4bb3ad;
}

.btn-xs {
  height: 30px;
  line-height: 30px;
  font-size: 12px;
}

.btn-sm {
  height: 40px;
  line-height: 40px;
  font-size: 14px;
}

.btn-sm-vm {
  line-height: 24px;
}

.btn-lg {
  height: 60px;
  line-height: 60px;
  font-size: 20px;
}

.btn-lg-vm {
  line-height: 38px;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-round {
  border-radius: 4px;
}

.btn-round:after {
  border-radius: 8px;
}

.btn.font-default {
  font-size: inherit;
}

.btn-fat {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.btn-fat.btn-lg {
  padding-left: 3rem;
  padding-right: 3rem;
}

.checkbox {
  line-height: 25px;
  display: inline-block;
}

.checkbox input {
  display: inline-block;
  width: 25px;
  height: 25px;
  position: relative;
  overflow: visible;
  border: 0;
  background: 0 0;
  -webkit-appearance: none;
  outline: 0;
  margin-right: 5px;
  vertical-align: middle;
  text-align: center;
  line-height: 25px;
  color: #80cac6;
  font-size: 15px;
}

.checkbox input:before {
  content: '';
  display: block;
  width: 25px;
  height: 25px;
  border: none;
  background-clip: padding-box;
  position: absolute;
  left: 0;
  top: 0;
  border: 2px solid #80cac6;
  border-radius: 30px;
  box-sizing: border-box;
}

.checkbox input:checked:after {
  content: '\e835';
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  font-family: "fontello";
}

.checkbox input.disabled:before, .checkbox input[disabled]:before {
  background-color: #ebebeb;
}

.ctrl-num {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  font-size: 0;
}

.ctrl-num a {
  position: relative;
  display: inline-block;
  width: 28px;
  height: 28px;
  line-height: 28px;
  text-decoration: none;
  color: #604c3f;
  background-color: white;
  vertical-align: top;
  font-size: 14px;
  overflow: hidden;
}

.ctrl-num a:hover {
  text-decoration: none;
}

.ctrl-num a:after {
  content: " ";
  width: 200%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  box-sizing: border-box;
}

.ctrl-num .num-input-wrap {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 28px;
}

.ctrl-num .num-input-wrap:after {
  content: "";
  width: 200%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #919191;
  box-sizing: border-box;
  pointer-events: none;
  border-radius: 0;
  -webkit-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

.ctrl-num input {
  display: block;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 6px 5px;
  line-height: 1;
  font-size: 14px;
  vertical-align: top;
  text-align: center;
  color: #604c3f;
  border: none;
  outline: 0;
  box-sizing: border-box;
}

.ctrl-num .num-dec {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.ctrl-num .num-dec:after {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top: 1px solid #919191;
  border-left: 1px solid #919191;
  border-bottom: 1px solid #919191;
}

.ctrl-num .num-inc {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.ctrl-num .num-inc:after {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top: 1px solid #919191;
  border-right: 1px solid #919191;
  border-bottom: 1px solid #919191;
}

.cart-num input {
  width: 30px;
  font-size: 12px;
}

.has-error .ctrl-num {
  border-color: #d9534f;
}

.has-error .ctrl-num a {
  background-color: #f4cecd;
}

.has-error .ctrl-num .num-dec {
  border-right-color: #d9534f;
}

.has-error .ctrl-num .num-inc {
  border-left-color: #d9534f;
}

.disabled.ctrl-num a,
.readonly.ctrl-num a {
  background-color: #F7F7F7;
  color: #c3b2a6;
  cursor: not-allowed;
}

.disabled.ctrl-num a:after,
.readonly.ctrl-num a:after {
  border-color: #dedede;
}

.disabled.ctrl-num .num-input-wrap:after,
.readonly.ctrl-num .num-input-wrap:after {
  border-color: #dedede;
}

.disabled.ctrl-num input,
.readonly.ctrl-num input {
  color: #604c3f;
  background-color: #F7F7F7;
}

.disabled.ctrl-num input[readonly],
.readonly.ctrl-num input[readonly] {
  cursor: not-allowed;
}

.dec-disabled .num-dec {
  background-color: #F7F7F7;
  color: #a48b78;
  cursor: not-allowed;
}

.dec-disabled .num-dec:after {
  border-color: #dedede;
}

.inc-disabled .num-inc {
  background-color: #F7F7F7;
  color: #a48b78;
  cursor: not-allowed;
}

.inc-disabled .num-inc:after {
  border-color: #dedede;
}

.form-line {
  position: relative;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -moz-box;
}

.form-line select,
.form-line input[type=text],
.form-line input[type=password] {
  height: 50px;
}

.form-line.has-error .form-error {
  display: block;
}

.form-line .checkbox {
  line-height: 50px;
}

.form-line .checkbox input {
  vertical-align: -7px;
}

.form-label {
  display: block;
  line-height: 50px;
  width: 90px;
  padding: 0 0 0 15px;
  font-size: 14px;
  color: #604c3f;
}

.form-control {
  position: relative;
  outline: none;
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
  -moz-box-flex: 1;
  /* Firefox */
  -webkit-box-flex: 1;
  /* Safari 和 Chrome */
  flex: 1;
}

.form-control.form-control-pad {
  margin-left: 15px;
  padding-left: 0;
}

.form-control input[type=text],
.form-control input[type=password],
.form-control textarea,
.form-control select,
.form-control .form-static {
  display: block;
  width: 100%;
  border: none;
  border-style: none;
  outline: none;
  font-size: 14px;
  padding: 10px 3px 10px 0;
  line-height: 30px;
  background-color: transparent;
}

.form-control input::-webkit-input-placeholder {
  color: #a48b78;
  font-weight: normal;
  font-size: 14px;
}

.form-control select {
  position: relative;
  -webkit-appearance: none;
}

.form-control .form-static-sm {
  display: block;
  width: 100%;
  border: none;
  outline: none;
  font-size: 13px;
  padding: 10px 3px 10px 0;
  line-height: 15px;
}

.form-control .input-group {
  position: relative;
  border-collapse: separate;
  display: -webkit-box;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -webkit-box-orient: horizontal;
}

.form-control .input-group .input-group-addon {
  position: relative;
  white-space: nowrap;
  display: -webkit-box;
  display: -moz-box;
  -moz-box-pack: center ;
  -webkit-box-pack: center ;
  -moz-box-align: center ;
  -webkit-box-align: center ;
  -o-box-align: center ;
}

.form-control .input-group .form-static,
.form-control .input-group .form-static-sm,
.form-control .input-group .checkbox,
.form-control .input-group input[type=text],
.form-control .input-group input[type=password] {
  display: -webkit-box;
  display: -moz-box;
  -moz-box-flex: 1;
  /* Firefox */
  -webkit-box-flex: 1;
  /* Safari 和 Chrome */
  flex: 1;
}

.form-label-long .form-label {
  width: 120px;
}

.form-btn-line {
  padding: 30px 15px 15px 15px;
  font-size: 14px;
}

.form-control.form-action-control {
  padding-right: 0;
}

.form-clear {
  position: relative;
  display: none;
  text-align: center;
}

.form-clear:before {
  position: relative;
  display: inline-block;
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  text-decoration: inherit;
  margin: 0;
  text-align: center;
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
}

.form-clear:before {
  content: '\e81c';
}

.form-control.has-value .form-clear {
  display: block;
}

.form-error {
  display: none;
  position: absolute;
  bottom: 1px;
  font-size: 12px;
  color: #d9534f;
  padding-bottom: 0;
}

.form-error-inline {
  position: relative;
}

.form-icon-clear {
  display: block;
  width: 20px;
  height: 20px;
  background-color: #b9a596;
  border-radius: 10px;
  margin: 0 auto;
  color: #FFFFFF;
  text-align: center;
  line-height: 16px;
  font-size: 12px;
}

.form-icon-clear:before {
  position: relative;
  display: inline-block;
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  text-decoration: inherit;
  margin: 0;
  text-align: center;
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
}

.form-icon-clear:before {
  content: "";
}

.form-sm select,
.form-sm input[type=text],
.form-sm input[type=password] {
  height: 38px;
}

.form-sm input[type=text],
.form-sm input[type=password],
.form-sm textarea,
.form-sm .form-static,
.form-sm .form-static-sm {
  padding: 4px 3px 4px 0;
}

.form-sm .checkbox {
  line-height: 38px;
}

.form-sm .checkbox input {
  vertical-align: -7px;
}

.form-sm .form-label {
  line-height: 38px;
}

.gallery-dialog {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: auto;
  font-size: 16px;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

.gallery-slide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.gallery-content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1);
  transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1);
}

.gallery-content > li {
  display: -webkit-box;
  display: -moz-box;
  -moz-box-flex: 1;
  /* Firefox */
  -webkit-box-flex: 1;
  /* Safari 和 Chrome */
  flex: 1;
  -moz-box-align: center ;
  -webkit-box-align: center ;
  -o-box-align: center ;
  -moz-box-pack: center ;
  -webkit-box-pack: center ;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.gallery-content > li .gallery-img {
  display: block;
}

.gallery-dialog .gallery-text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 14px 10px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #ffffff;
  font-size: 12px;
}

.gallery-dialog .gallery-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  line-height: 56px;
  text-align: center;
  font-size: 30px;
  opacity: .5;
  color: #FFFFFF;
  background-color: #212121;
}

.gallery-dialog .ui-slider-indicators li {
  background-color: rgba(255, 255, 255, 0.5);
}

.gallery-dialog .ui-slider-indicators li.current {
  background-color: #e94662;
}

.modal-open .gallery-dialog {
  opacity: 1;
}

/* 等级基类 */
.grade {
  width: 200px;
  height: 40px;
  background-image: url("/src/images/star.png");
  background-position: 0  -40px;
  background-repeat: repeat-x;
  position: relative;
  display: inline-block;
  zoom: 1;
}

.grade i {
  width: 20%;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  height: 40px;
}

.grade i:hover {
  background: url(/src/images/star.png) left top repeat-x;
  /*.grade-tips{*/
  /*display: block;*/
  /*}*/
}

.grade .grade-tips {
  display: none;
  position: absolute;
  bottom: 0;
  width: 50px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  padding: 0 0 0 10px;
}

.grade .grade1 {
  width: 20%;
  z-index: 6;
}

.grade .grade1 .grade-tips {
  left: 500%;
  color: #d9534f;
}

.grade .grade2 {
  width: 40%;
  z-index: 5;
}

.grade .grade2 .grade-tips {
  left: 250%;
  color: #f9b72d;
}

.grade .grade3 {
  width: 60%;
  z-index: 4;
}

.grade .grade3 .grade-tips {
  left: 166%;
  color: #604c3f;
}

.grade .grade4 {
  width: 80%;
  z-index: 3;
}

.grade .grade4 .grade-tips {
  left: 125%;
  color: #8ec31f;
}

.grade .grade5 {
  width: 100%;
  z-index: 2;
}

.grade .grade5 .grade-tips {
  left: 100%;
  color: #6e9718;
}

/* 交互 */
.grade-static i,
.grade-static i:hover {
  background: none;
  cursor: default;
}

.grade-static i .grade-tips,
.grade-static i:hover .grade-tips {
  display: none;
}

.grade .active,
.grade .active:hover {
  background: url(/src/images/star.png) 0 0 repeat-x;
}

.grade .active .grade-tips,
.grade .active:hover .grade-tips {
  display: block;
}

/* 大小 */
.grade-lg {
  font-size: 22px;
}

.grade-lg i {
  font-size: 22px;
}

.icon-3rd {
  display: block;
  font-size: 0;
  background-image: url(/src/images/pay.gif);
  background-repeat: no-repeat;
  background-size: 50px auto;
  width: 50px;
  height: 50px;
}

.icon-yibao {
  background-position: 0 0;
}

.icon-alipay {
  background-position: 0 -50px;
}

.icon-weixin {
  background-position: 0 -100px;
}

.icon-qq {
  background-position: 0 -150px;
}

.icon-3rd-sm {
  background-size: 30px auto;
  width: 30px;
  height: 30px;
}

.icon-3rd-sm.icon-yibao {
  background-position: 0 0;
}

.icon-3rd-sm.icon-alipay {
  background-position: 0 -30px;
}

.icon-3rd-sm.icon-weixin {
  background-position: 0 -60px;
}

.icon-3rd-sm.icon-qq {
  background-position: 0 -90px;
}

.label {
  position: relative;
  display: inline-block;
  max-width: 120px;
  padding: 0 5px;
  white-space: nowrap;
  word-break: keep-all;
  word-wrap: normal;
  cursor: default;
  color: #FFFFFF;
  background-color: #a48b78;
}

.label-outline:after {
  content: "";
  width: 200%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #dedede;
  box-sizing: border-box;
  pointer-events: none;
  border-radius: 0;
  -webkit-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

.label-primary {
  color: #FFFFFF;
  background-color: #80cac6;
}

.label-primary.label-outline {
  color: #80cac6;
  background-color: transparent;
}

.label-primary.label-outline:after {
  border-color: #80cac6;
}

.label-hot {
  color: #FFFFFF;
  background-color: #e94662;
}

.label-hot.label-outline {
  color: #e94662;
  background-color: transparent;
}

.label-hot.label-outline:after {
  border-color: #e94662;
}

.label-success {
  color: #FFFFFF;
  background-color: #8ec31f;
}

.label-success.label-outline {
  color: #8ec31f;
  background-color: transparent;
}

.label-success.label-outline:after {
  border-color: #8ec31f;
}

.label-warning {
  color: #FFFFFF;
  background-color: #f9b72d;
}

.label-warning.label-outline {
  color: #f9b72d;
  background-color: transparent;
}

.label-warning.label-outline:after {
  border-color: #f9b72d;
}

.label-danger {
  color: #FFFFFF;
  background-color: #d9534f;
}

.label-danger.label-outline {
  color: #d9534f;
  background-color: transparent;
}

.label-danger.label-outline:after {
  border-color: #d9534f;
}

.label-md {
  height: 20px;
  line-height: 20px;
}

.label-round {
  border-radius: 4px;
}

.label-round:after {
  border-radius: 8px;
}

.list {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #FFFFFF;
  padding-top: 15px;
  padding-bottom: 15px;
  display: -webkit-box;
  display: -moz-box;
}

.list h4 {
  font-size: 14px;
}

.list h4 > span {
  vertical-align: bottom;
}

.list p {
  color: #a48b78;
  font-size: 13px;
}

.list .checkbox {
  display: -webkit-box;
  display: -moz-box;
  -moz-box-align: center ;
  -webkit-box-align: center ;
  -o-box-align: center ;
  -moz-box-pack: center ;
  -webkit-box-pack: center ;
}

.list-plain {
  display: block;
}

/*
加上此类有按压效果
 */
.list-active:active, .list-active.active {
  background-color: #F7F7F7;
}

.list-info {
  display: -webkit-box;
  display: -moz-box;
  -moz-box-flex: 1;
  /* Firefox */
  -webkit-box-flex: 1;
  /* Safari 和 Chrome */
  flex: 1;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  -moz-box-pack: start ;
  -webkit-box-pack: start ;
}

.list-action {
  display: -webkit-box;
  display: -moz-box;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  -moz-box-pack: start ;
  -webkit-box-pack: start ;
  -moz-box-align: end ;
  -webkit-box-align: end ;
  -o-box-align: end ;
  padding-left: 10px;
}

.list-text {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
}

.list-link {
  padding-right: 20px;
}

.list-plain {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.list-plain.list-link {
  padding-right: 20px;
}

.list-link:before {
  position: relative;
  display: inline-block;
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  text-decoration: inherit;
  margin: 0;
  text-align: center;
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
}

.list-link:before {
  content: '\e803';
  position: absolute;
  top: 50%;
  right: 8px;
  height: 20px;
  line-height: 20px;
  margin-top: -10px;
  pointer-events: none;
  font-size: 16px;
  color: #a48b78;
}

.list-link-down:before {
  content: '\e804';
}

.list-sm {
  padding-top: 10px;
  padding-bottom: 10px;
}

.list > .avatar,
.list > .avatar-wrap,
.list-thumb,
.list-thumb-lg,
.list-thumb-sm {
  position: relative;
  margin-right: 10px;
}

.list-thumb,
.list-thumb-lg,
.list-thumb-sm {
  display: -webkit-box;
  display: -moz-box;
  -moz-box-align: center ;
  -webkit-box-align: center ;
  -o-box-align: center ;
  -moz-box-pack: center ;
  -webkit-box-pack: center ;
}

.list-thumb > img,
.list-thumb-lg > img,
.list-thumb-sm > img {
  display: block;
  background-size: contain;
}

.list-thumb {
  min-height: 50px;
}

.list-thumb > img {
  width: 50px;
  height: auto;
}

.list-thumb-lg {
  min-height: 90px;
}

.list-thumb-lg > img {
  width: 90px;
  height: auto;
}

.list-thumb-sm {
  min-height: 30px;
}

.list-thumb-sm > img {
  width: 30px;
  height: auto;
}

.list-one {
  line-height: 44px;
}

.list-one .list-info {
  -moz-box-orient: horizontal;
  -webkit-box-orient: horizontal;
  -moz-box-align: center ;
  -webkit-box-align: center ;
  -o-box-align: center ;
}

.list-one h4 {
  -webkit-box-flex: 1;
}

.list-info-group {
  display: -webkit-box;
  display: -moz-box;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  -moz-box-flex: 1;
  /* Firefox */
  -webkit-box-flex: 1;
  /* Safari 和 Chrome */
  flex: 1;
}

.list-info-group > * {
  display: -webkit-box;
  display: -moz-box;
}

.loading {
  display: none;
  text-align: center;
  font-size: 14px;
}

.loading i {
  width: 20px;
  height: 20px;
  display: block;
  background: url(/src/images/loading.png);
  -webkit-background-size: auto 20px;
  -webkit-animation: am-rotate 1s steps(12) infinite;
}

.loading-block {
  height: 40px;
  -moz-box-align: center ;
  -webkit-box-align: center ;
  -o-box-align: center ;
  -moz-box-pack: center ;
  -webkit-box-pack: center ;
}

.loading-block i {
  margin: 10px;
}

.loading-block.loading-open {
  display: -webkit-box;
  display: -moz-box;
}

.loading-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  -moz-box-align: center ;
  -webkit-box-align: center ;
  -o-box-align: center ;
  -moz-box-pack: center ;
  -webkit-box-pack: center ;
}

.loading-modal .loading-modal-dialog {
  display: -webkit-box;
  display: -moz-box;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  -moz-box-align: center ;
  -webkit-box-align: center ;
  -o-box-align: center ;
  -moz-box-pack: center ;
  -webkit-box-pack: center ;
}

.loading-modal .loading-modal-dialog i {
  margin-bottom: 10px;
}

.loading-modal.loading-open {
  display: -webkit-box;
  display: -moz-box;
}

.loading-modeless {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  margin-top: -10px;
}

.loading-modeless.loading-open {
  display: block;
}

.lazy-load {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(/src/images/loading.gif);
}

@-webkit-keyframes am-rotate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -240px 0;
  }
}

@-webkit-keyframes am-rotate2 {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -444px 0;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  font-size: 16px;
  color: #d2d2d2;
  background: transparent;
  -webkit-transition: background 0.4s;
  transition: background 0.4s;
  display: -webkit-box;
  display: -moz-box;
  -moz-box-pack: center ;
  -webkit-box-pack: center ;
  -moz-box-align: center ;
  -webkit-box-align: center ;
  -o-box-align: center ;
}

.modal .modal-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 6px;
  width: 270px;
  pointer-events: auto;
  background-color: #FFFFFF;
  font-size: 16px;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

.modal-header {
  position: relative;
  height: 45px;
  line-height: 45px;
  text-align: center;
}

.modal-header:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #dedede;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: scale(1, 0.5);
  transform: scale(1, 0.5);
}

.modal-body {
  padding-bottom: 1px;
}

.modal-content {
  padding: 10px;
}

.modal-content h4 {
  margin-bottom: 3px;
  text-align: center;
  font-size: 16px;
}

.modal-content p {
  font-size: 14px;
}

.modal-footer {
  position: relative;
  height: 45px;
  line-height: 45px;
  display: -webkit-box;
  display: -moz-box;
}

.modal-footer:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  border-top: 1px solid #dedede;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scale(1, 0.5);
  transform: scale(1, 0.5);
}

.modal-footer button {
  display: block;
  position: relative;
  height: 45px;
  line-height: 45px;
  color: #80cac6;
  width: 1%;
  -moz-box-flex: 1;
  /* Firefox */
  -webkit-box-flex: 1;
  /* Safari 和 Chrome */
  flex: 1;
}

.modal-footer button:after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  height: 100%;
  border-right: 1px solid #dedede;
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-transform: scale(0.5, 1);
  transform: scale(0.5, 1);
}

.modal-footer button:active {
  background-color: #F7F7F7;
}

.modal-footer button:first-child {
  border-bottom-left-radius: 6px;
}

.modal-footer button:last-child {
  border-bottom-right-radius: 6px;
}

.modal-footer button:last-child:after {
  border: none;
}

.modal-footer .modal-btn-primary {
  color: #FFFFFF;
  background: #80cac6;
}

.modal-footer .modal-btn-primary:active {
  background-color: #a4d9d6;
}

.modal.modal-open .modal-backdrop {
  background: rgba(0, 0, 0, 0.4);
}

.modal.modal-open .modal-dialog {
  opacity: 1;
}

.modal-dark.modal-open .modal-backdrop {
  background: rgba(0, 0, 0, 0.8);
}

.notice {
  padding-top: 30px;
  text-align: center;
}

.notice-sm {
  padding-top: 0px;
}

.notice-icon {
  position: relative;
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.notice-text {
  margin-top: 30px;
  padding: 0 15px;
}

.notice-text h4 {
  font-size: 16px;
  color: #80cac6;
  margin-bottom: 10px;
}

.notice-text p {
  font-size: 14px;
  margin-bottom: 5px;
}

.notice-icon-success {
  background-image: url(/src/images/bag.png);
}

.notice-icon-fail {
  background-image: url(/src/images/upset.png);
}

.notice-icon-gift {
  background-image: url(/src/images/gift.png);
}

.notice-icon-logo {
  background-image: url(/src/images/mlz.png);
}

/**
 * 轮播组件
 */
.ui-slider {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
  background: #FFFFFF;
}

.ui-slider-content {
  display: -webkit-box;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}

.ui-slider-content > li {
  -webkit-box-flex: 1;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
}

.ui-slider-content > li img {
  height: 100%;
  width: auto;
}

.ui-slider-content > li span {
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
}

.ui-slider-content > li.active {
  opacity: .5;
}

.ui-slider-indicators {
  position: absolute;
  display: -webkit-box;
  -webkit-box-pack: center;
  width: 100%;
  bottom: 5px;
  right: 4px;
  font-size: 0;
}

.ui-slider-indicators li {
  display: block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0;
  width: 10px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 0 3px;
  opacity: .5;
  -webkit-box-sizing: border-box;
  -webkit-background-clip: padding-box;
  position: relative;
}

.ui-slider-indicators li.current {
  background-color: #e94662;
  opacity: 1;
}

.ui-slider-indicators-center {
  -webkit-box-pack: center;
  right: 0;
}

.tab {
  display: -webkit-box;
  display: -moz-box;
  background-color: #FFFFFF;
  height: 40px;
}

.tab > li {
  position: relative;
  height: 40px;
  line-height: 40px;
  text-align: center;
  -moz-box-flex: 1;
  /* Firefox */
  -webkit-box-flex: 1;
  /* Safari 和 Chrome */
  flex: 1;
  width: 0%;
}

.tab > li > a {
  position: relative;
  display: block;
  color: #604c3f;
  height: 40px;
  line-height: 40px;
}

.tab > .active {
  border-bottom: 2px solid #80cac6;
}

.tab-upper > .active {
  border-top: 2px solid #80cac6;
  border-bottom: none;
}

.tab-upper > .active > a {
  height: 38px;
  line-height: 36px;
}

.tab-fill > .active {
  border-bottom: none;
  background-color: #80cac6;
}

.tab-fill > .active a {
  color: #FFFFFF;
}

.tab-bordered > li:after {
  content: "";
  width: 200%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #dedede;
  box-sizing: border-box;
  pointer-events: none;
  border-radius: 0;
  -webkit-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

.tab-bordered > li:after {
  border-right: 0;
}

.tab-bordered > li.active:after {
  border-bottom: 0;
}

.tab-content > .tab-panel {
  display: none;
}

.tab-content > .active {
  display: block;
}

.table {
  width: 100%;
  table-layout: fixed;
}

.table th, .table td {
  padding: 5px 0 5px 15px;
  position: relative;
}

.table tr:first-child > td {
  padding-top: 10px;
}

.table tr:last-child > td {
  padding-bottom: 10px;
}

.table-border-b th:after, .table-border-b td:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #dedede;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: scale(1, 0.5);
  transform: scale(1, 0.5);
}

.table-right {
  text-align: right;
}

.table-right th, .table-right td {
  padding-left: 0px;
  padding-right: 15px;
}

.tag {
  position: absolute;
  left: -35px;
  top: -10px;
  width: 98px;
  text-align: center;
  z-index: 1;
  padding: 28px 0 3px 0;
  color: #FFFFFF;
  font-size: 12px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.tag-hot {
  background-color: #e94662;
}

.tag-primary {
  background-color: #80cac6;
}

.tag-muted {
  background-color: #8d8d8d;
}

.ui-text {
  position: relative;
  padding-bottom: 20px;
}

.ui-text .ui-text-info {
  position: absolute;
  width: 100%;
  height: 18px;
  line-height: 18px;
  bottom: 0;
  padding: 0 5px;
  text-align: right;
  font-size: 12px;
}

.ui-text textarea {
  border: none;
  display: block;
  width: 100%;
  resize: none;
}

.toast {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  padding: 0 10px;
}

.toast-content {
  background: rgba(0, 0, 0, 0.7);
  line-height: 40px;
  height: 40px;
  color: #FFFFFF;
  font-size: 16px;
  text-align: center;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
