@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1461310341_4849534.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1461310341_4849534.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1461310341_4849534.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1461310341_4849534.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1461310341_4849534.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.icon:before{
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
}
@mixin icons($class, $content){
	.icon-#{$class} {
		&:before {
			content: $content;
		}
	}
}
@include icons(process, '\e605');
@include icons(shuoming, '\e60a');
@include icons(xuanshou, '\e607');


