@font-face {
  font-family: 'iconfont';
  src: url('../fonts/iconfont.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1461310341_4849534.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff') format('woff'); /* iOS 4.1- */
}

.icon:before{
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
}
@mixin icons($class, $content){
	.icon-#{$class} {
		&:before {
			content: $content;
		}
	}
}
@include icons(woyaocansai, '\e605');
@include icons(shuoming, '\e60a');
@include icons(xuanshou, '\e607');
@include icons(home, '\e600');
@include icons(jinrong, '\e603');
@include icons(paihang, '\e601');
@include icons(cansai, '\e602');
@include icons(chapaiming, '\e604');
@include icons(process, '\e606');
@include icons(oval47611, '\e609');


