.table {
	padding: 0 30px;
	width: 100%;
	& > thead {
		& > tr {
			& > td {
				vertical-align: middle;
				padding: 0;
			}
			height: 70px;
		}
	}
	& > tbody {
		& > tr {
			color: #333;
			font-size: 15px;
			&:first-child {
				& > td {

					border-top: 1px solid #ddd;
				}
			}
			& > td {
				padding: 20px 0;
				border-top: none;
				border-bottom: 1px solid #ddd;
			}
		}
	}
}