html, body {
  height: 100%;
}
header {
  position: absolute;
  left: 0;
  top: 0;
  padding-left: 70px;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f7f9;
  border-bottom: 1px solid #e7eaed;
  font-size: 20px;
  color: #999;
}
main {
  padding-top: 60px;
  height: 100%;
}
.navbar {
  padding-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  .avatar {
    $size: 92px;
    position: relative;
    width: $size;
    height: $size;
    border: 1px solid #f4f9ff;
    border-radius: 50%;
    &:before, &:after {
      position: absolute;
      content: "";
      border-radius: 50%;
    }
    &:before {
      $size: 5px;
      left: $size;
      top: $size;
      right: $size;
      bottom: $size;
      border: 1px solid #e8f1ff;
    }
    &:after {
      $size: 10px;
      left: $size;
      top: $size;
      right: $size;
      bottom: $size;
      border: 1px solid #dcebff;
    }
    img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      display: block;
      width: 56px;
      height: 56px;
      border: 1px solid #3f95ff;
      border-radius: 50%;

    }
  }
  @at-root {
    #{&}__item {
      display: block;
      padding: 0 30px;
      margin: 10px 0;
      height: 50px;
      line-height: 50px;
      font-size: 14px;
      color: #4d4d4d;
      & > i {
        margin-right: 22px;
        vertical-align: middle;
      }
      @at-root {
        #{&}-active {
          position: relative;
          background-color: #f5f6f7;
          &:after {
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            width: 2px;
            height: 100%;
            background-color: #39aaf7;
          }
        }
      }
    }
  }
}
.u-cell {
  display: flex;
  @at-root {
    #{&}__hd {
      width: 240px;
    }
    #{&}__bd {
      flex: 1;
    }
  }
}
