/*CSS Reset*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
header,
hgroup,
nav,
section,
article,
aside,
footer,
figure,
figcaption,
menu,
button {
  margin: 0;
  padding: 0; }

body {
  font-size: 0.59733rem;
  font-family: 'Lucida Grande','Microsoft YaHei','Helvetica Neue',Helvetica,STHeiTi,sans-serif;
  line-height: 1.3;
  color: #604c3f;
  background-color: #ffffff;
  -webkit-user-select: none;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  outline: 0; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th {
  text-align: left; }

fieldset,
img {
  border: 0; }

ul, ol, li {
  list-style: none; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

input,
button,
textarea,
select,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  outline: 0;
  -webkit-appearance: none; }

textarea {
  resize: none; }

button {
  -webkit-appearance: none;
  border: 0;
  background: none; }

:focus {
  outline: 0;
  -webkit-tap-highlight-color: transparent; }

em, s, i {
  font-style: normal; }

* {
  box-sizing: border-box;
  line-height: 1.3;
  -ms-word-break: break-all;
  word-break: break-all;
  -ms-word-wrap: break-word;
  word-wrap: break-word; }

.text-gray {
  color: #8d8d8d !important; }

.text-muted {
  color: #a48b78 !important; }

.text-strong {
  color: #604c3f !important; }

.text-default {
  color: #604c3f !important; }

.text-primary {
  color: #80cac6 !important; }

.text-hot {
  color: #e94662 !important; }

.text-success {
  color: #04BE02 !important; }

.text-warning {
  color: #f9b72d !important; }

.text-danger {
  color: #d9534f !important; }

.text-center {
  text-align: center !important; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.pack-start {
  display: -webkit-box;
  display: -moz-box;
  -moz-box-pack: start !important;
  -webkit-box-pack: start !important; }

.pack-end {
  display: -webkit-box;
  display: -moz-box;
  -moz-box-pack: end !important;
  -webkit-box-pack: end !important; }

.pack-center {
  display: -webkit-box;
  display: -moz-box;
  -moz-box-pack: center !important;
  -webkit-box-pack: center !important; }

.pack-justify {
  display: -webkit-box;
  display: -moz-box;
  -moz-box-pack: justify !important;
  -webkit-box-pack: justify !important; }

.align-start {
  display: -webkit-box;
  display: -moz-box;
  -moz-box-align: start !important;
  -webkit-box-align: start !important;
  -o-box-align: start !important; }

.align-end {
  display: -webkit-box;
  display: -moz-box;
  -moz-box-align: end !important;
  -webkit-box-align: end !important;
  -o-box-align: end !important; }

.align-center {
  display: -webkit-box;
  display: -moz-box;
  -moz-box-align: center !important;
  -webkit-box-align: center !important;
  -o-box-align: center !important; }

.text-sm {
  font-size: 12px !important; }

.text-xs {
  font-size: 10px !important; }

.text-md {
  font-size: 14px !important; }

.text-normal {
  fot-size: 13px !important; }

.text-lg {
  font-size: 16px !important; }

.text-bold {
  font-weight: bolder !important; }

.nowrap {
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.nowrap-flex {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  -webkit-box-flex: 1;
  height: inherit; }

.nowrap-double {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; }

.nowrap-triple {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; }

.line-through {
  text-decoration: line-through; }
