@charset "UTF-8";
/*CSS Reset*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
header,
hgroup,
nav,
section,
article,
aside,
footer,
figure,
figcaption,
menu,
button {
  margin: 0;
  padding: 0; }

body {
  font-size: 0.59733rem;
  font-family: 'Lucida Grande','Microsoft YaHei','Helvetica Neue',Helvetica,STHeiTi,sans-serif;
  line-height: 1.3;
  color: #604c3f;
  background-color: #ffffff;
  -webkit-user-select: none;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  outline: 0; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th {
  text-align: left; }

fieldset,
img {
  border: 0; }

ul, ol, li {
  list-style: none; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

input,
button,
textarea,
select,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  outline: 0;
  -webkit-appearance: none; }

textarea {
  resize: none; }

button {
  -webkit-appearance: none;
  border: 0;
  background: none; }

:focus {
  outline: 0;
  -webkit-tap-highlight-color: transparent; }

em, s, i {
  font-style: normal; }

* {
  box-sizing: border-box;
  line-height: 1.3;
  -ms-word-break: break-all;
  word-break: break-all;
  -ms-word-wrap: break-word;
  word-wrap: break-word; }

@font-face {
  font-family: 'iconfont';
  src: url("../fonts/iconfont.eot");
  /* IE9*/
  src: url("//at.alicdn.com/t/font_1461310341_4849534.eot?#iefix") format("embedded-opentype"), url("../fonts/iconfont.woff") format("woff");
  /* iOS 4.1- */ }

.icon:before {
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em; }

.icon-woyaocansai:before {
  content: ""; }

.icon-shuoming:before {
  content: ""; }

.icon-xuanshou:before {
  content: ""; }

.icon-home:before {
  content: ""; }

.icon-jinrong:before {
  content: ""; }

.icon-paihang:before {
  content: ""; }

.icon-cansai:before {
  content: ""; }

.icon-chapaiming:before {
  content: ""; }

.icon-process:before {
  content: ""; }

.icon-oval47611:before {
  content: ""; }

.text-gray {
  color: #8d8d8d !important; }

.text-muted {
  color: #a48b78 !important; }

.text-strong {
  color: #604c3f !important; }

.text-default {
  color: #604c3f !important; }

.text-primary {
  color: #80cac6 !important; }

.text-hot {
  color: #e94662 !important; }

.text-success {
  color: #04BE02 !important; }

.text-warning {
  color: #f9b72d !important; }

.text-danger {
  color: #d9534f !important; }

.text-center {
  text-align: center !important; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.pack-start {
  display: -webkit-box;
  display: -moz-box;
  -moz-box-pack: start !important;
  -webkit-box-pack: start !important; }

.pack-end {
  display: -webkit-box;
  display: -moz-box;
  -moz-box-pack: end !important;
  -webkit-box-pack: end !important; }

.pack-center {
  display: -webkit-box;
  display: -moz-box;
  -moz-box-pack: center !important;
  -webkit-box-pack: center !important; }

.pack-justify {
  display: -webkit-box;
  display: -moz-box;
  -moz-box-pack: justify !important;
  -webkit-box-pack: justify !important; }

.align-start {
  display: -webkit-box;
  display: -moz-box;
  -moz-box-align: start !important;
  -webkit-box-align: start !important;
  -o-box-align: start !important; }

.align-end {
  display: -webkit-box;
  display: -moz-box;
  -moz-box-align: end !important;
  -webkit-box-align: end !important;
  -o-box-align: end !important; }

.align-center {
  display: -webkit-box;
  display: -moz-box;
  -moz-box-align: center !important;
  -webkit-box-align: center !important;
  -o-box-align: center !important; }

.text-sm {
  font-size: 12px !important; }

.text-xs {
  font-size: 10px !important; }

.text-md {
  font-size: 14px !important; }

.text-normal {
  fot-size: 13px !important; }

.text-lg {
  font-size: 16px !important; }

.text-bold {
  font-weight: bolder !important; }

.nowrap {
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.nowrap-flex {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  -webkit-box-flex: 1;
  height: inherit; }

.nowrap-double {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; }

.nowrap-triple {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; }

.line-through {
  text-decoration: line-through; }

.clearfix:after, .clearfix:before {
  display: block;
  content: ""; }

.clearfix:after {
  clear: both; }

.M-tabs ul {
  text-align: center;
  display: -webkit-box;
  display: -moz-box; }

.M-tabs li {
  font-size: 0.768rem;
  -moz-box-flex: 1;
  /* Firefox */
  -webkit-box-flex: 1;
  /* Safari 和 Chrome */
  flex: 1; }
  .M-tabs li a {
    display: block;
    line-height: 1.70667rem;
    color: #fff; }
  .M-tabs li i {
    font-size: 0.68267rem; }

.M-tabs .pri {
  background-color: #43b5c6; }

.M-tabs .yel {
  margin: 0 0.21333rem;
  background-color: #f5a043; }

.M-tabs .hot {
  background-color: #fc4c44; }

.weui_tabbar ~ .M-pic {
  padding-bottom: 2.34667rem; }

.M-pic {
  padding-top: 0.32rem;
  padding-left: 0.32rem;
  padding-right: 0.10667rem; }
  .M-pic > li {
    padding-right: 0.21333rem;
    padding-bottom: 0.21333rem;
    float: left;
    width: 50%; }
  .M-pic .pic-cell {
    position: relative; }
    .M-pic .pic-cell:after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border: 1px solid #dedede;
      box-sizing: border-box;
      pointer-events: none;
      border-radius: 0;
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0; }
  .M-pic .pic-inner {
    padding: 0.10667rem; }
  .M-pic .pic-tt {
    position: relative;
    padding-top: 100%;
    width: 100%; }
    .M-pic .pic-tt img {
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%; }
  .M-pic h3, .M-pic .pic-btns, .M-pic p {
    padding: 0.10667rem 0.21333rem; }
  .M-pic p {
    display: -webkit-box;
    display: -moz-box; }
    .M-pic p > span {
      -moz-box-flex: 1;
      /* Firefox */
      -webkit-box-flex: 1;
      /* Safari 和 Chrome */
      flex: 1;
      display: block; }
  .M-pic .pic-btns a {
    border-radius: 10px;
    line-height: 1.28rem; }

.M-box {
  position: relative;
  margin: 0.85333rem 0 0;
  padding-top: 1.70667rem;
  border: 5px solid #ef4f4f;
  border-radius: 0.17067rem;
  background-color: #fbf9fe; }
  .M-box .box-tit {
    position: absolute;
    z-index: 10;
    left: 50%;
    top: 0;
    padding: 0 0.42667rem;
    line-height: 1.70667rem;
    border-radius: 0.17067rem;
    background-color: #ef4f4f;
    color: #fff;
    font-weight: 600;
    font-size: 0.64rem;
    -webkit-transform: translate(-50%, -0.85333rem);
    transform: translate(-50%, -0.85333rem);
    display: -webkit-box;
    display: -moz-box; }
    .M-box .box-tit > span {
      -moz-box-flex: 1;
      /* Firefox */
      -webkit-box-flex: 1;
      /* Safari 和 Chrome */
      flex: 1;
      padding: 0 0.21333rem;
      width: 50%; }

.M-btns {
  padding: 0.21333rem; }

.banner-img {
  display: block;
  width: 100%;
  height: auto; }

.search {
  padding: 0.64rem 0; }
  .search form {
    display: -webkit-box;
    display: -moz-box; }
  .search_input {
    margin-right: 0.42667rem;
    padding: 0.10667rem 0.42667rem;
    height: 1.28rem;
    border: 4px solid #8ac0af;
    border-radius: 8px;
    -moz-box-flex: 8;
    /* Firefox */
    -webkit-box-flex: 8;
    /* Safari 和 Chrome */
    flex: 8;
    display: block; }
  .search_submit {
    padding: 0 0.64rem;
    border: none;
    height: 1.28rem;
    background-color: #8ac0af;
    -moz-box-flex: 2;
    /* Firefox */
    -webkit-box-flex: 2;
    /* Safari 和 Chrome */
    flex: 2;
    color: #fff;
    border-radius: 8px; }
